
* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: system-ui, -apple-system, BlinkMacSystemFont, 'Segoe UI', Roboto, Oxygen, Ubuntu, Cantarell, 'Open Sans', 'Helvetica Neue', sans-serif;
}

.flex {
    display: flex;
    flex-direction: row;
}

#logo {
    height: 75px;
}

.tcenter {
    text-align: center;
}

.flex-col {
    display: flex;
    flex-direction: column;
}

.space-between {
    justify-content: space-between;
}

.justify-center {
    justify-content: center;
}

.align-center {
    align-items: center;
}

.bg-light-blue {
    background-color: lightblue;
}

.bg-dblue {
    background-color: darkblue;
}

.white {
    color: white;
}

.gap-1r {
    gap: 1rem;
}

.h-150 {
    height: 150px;
}

.ov-hidden {
    overflow: hidden;
}

footer {
    position: relative;
    bottom: 0;
    left: 0;
    width: 100%;
}


.p-075r {
    padding: .75rem;
}

.mauto {
    margin: 0 auto;
}

.p50 {
    width: 75%;
}

.radius-40px {
    border-radius: 40px;
}

.img-h400 {
    height: 400px;
}

.m50 {
    margin-top: 6.75rem;
}

.mb15 {
    margin-bottom: 15px;
}

.mt1r {
    margin-top: 2rem;
}

.flex-vertical {
    flex-direction: column;
}

.w25 {
    width: 600px;
}

.lt16pt {
    font-size: 13pt;
}


@media (max-width: 1400px) {
    .flex {
        flex-direction: column;
        justify-content: center;
        align-items: center;
        text-align: center;
    }

    .m50 {
        margin-top: 3rem;
    }
    
    .angap {
        gap: 3rem;
    }

    .p50 {
        width: 100%;
    }

    #dengue2 {
        width: 75%;
        height: auto;
    }

    #dengue {
        width: 75%;
        height: auto;
    }

    .w25 {
        width: 75%;
    }

}
